/* Project */
.project {
  margin: 50px 0;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.project button {
  margin-top: 10px;
}

.project-img {
  max-width: 250px;
}

.project-img img {
  max-width: 100%;
  height: auto;
  width: auto;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    text-align: center;
  }

  .project-text {
    margin-bottom: 20px;
  }
}
