/* Introduction */
.introduction {
  position: relative;
  background-color: var(--primary-color);
  min-height: 400px;
}

.introduction .grid {
  grid-template-columns: 1fr 1fr;
}

.introduction-desc {
  padding: 50px;
}

.introduction-desc-text {
  text-align: right;
  margin-left: auto;
}

.introduction-desc h1 {
  font-size: 40px;
}

.introduction-desc button {
  border-radius: 5px;
  border: 0px;
  padding: 10px 15px;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 700;
}

.introduction-desc button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.introduction-img {
  max-width: 200px;
  margin-right: auto;
}

.introduction-img img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.wave .shape-fill {
  fill: #ffffff;
}

/* About */
.info-item {
  margin: 50px 0;
}

.info-item h1 {
  text-align: center;
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .introduction .grid,
  .info-items .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .introduction-img {
    margin: 0 auto;
  }
  .introduction-desc-text {
    margin: 0 auto;
    text-align: center;
  }


}

/* Mobile */
@media (max-width: 500px) {
  .wave {
    display: none;
  }

  .info-item {
    margin-top: 50px;
  }
}
